[Unit]
Description=Run Neon sync daily

[Timer]
OnCalendar=*-*-* 03:45:00
Persistent=true
RandomizedDelaySec=5m
Unit=memory-neon-sync.service

[Install]
WantedBy=timers.target
